<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novodo/Packages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animation.css') }}">
    <link rel="favicon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
</head>
<body>
    {% include 'navbar.html' %}
    
    <div class="forks-container">
        {% for fork in forks %}
        <div class="fork">
            <svg width="900" height="500" viewBox="0 0 900 500" fill="none" xmlns="http://www.w3.org/2000/svg" class="fork-design">
                <path opacity="0.8" fill-rule="evenodd" clip-rule="evenodd" d="M900 0H0V500H900V0ZM45 20C31.1929 20 20 31.1929 20 45V155C20 168.807 31.1929 180 45 180H855C868.807 180 880 168.807 880 155V45C880 31.1929 868.807 20 855 20H45Z" fill="#333333"/>
            </svg>
                
            <h3 class="fork-name">{{ fork["app.json"]["details"]["name"] }} <span class="grey-out">by {{ fork["user"] }}</span></h3>

            <p class="description">{{ fork["app.json"]["details"]["description"] }}</p>

            <div class="buttons">
                <a href="{{ url_for('download_app', user=fork['user'], repo=fork['repo']) }}" class="btn-download">Download</a>
                <a href="{{ url_for('view_app', user=fork['user'], repo=fork['repo']) }}" class="btn-details">Details</a>
            </div>

            <div class="info">
                <p><span class="grey-out">Released:</span> {{ fork["app.json"]["details"]["snapshotting"]["released"] }}</p>
                <p><span class="grey-out">Updated:</span> {{ fork["app.json"]["details"]["snapshotting"]["updated"] }}</p>
                <p><span class="grey-out">Version:</span> {{ fork["app.json"]["details"]["snapshotting"]["version"] }}</p>
                <p><span class="grey-out">Patch name:</span> {{ fork["app.json"]["details"]["snapshotting"]["name"] }}</p>
                <p><span class="grey-out">Patch notes:</span> {{ fork["app.json"]["details"]["snapshotting"]["notes"] }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <script src="{{ url_for('static', filename='js/animation.js') }}"></script>
</body>
</html>
